* {
    font-family: Poppins, sans-serif;
    color: black;
}

header {
    color: white;
    min-height: ;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e2811f;
}

header h1 {
    color: azure;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #e2811f, #ebc094);
}

main .info {
    color: #383c42;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    justify-content: center;
    margin-top: 75px;
    font-size: 18px;
    padding: 5%;
    text-align: justify;

}

main form {
    margin-top: 5%;
    width: 30%;
    height: 60vh;
    background-color: #e2811f;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4) inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .tryfree {
    display: flex;
    background-color: #e2811f;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5%;
    font-size: 30px;
}

main form input {
    width: 100%;
    padding: 1%;
    margin-top: 5%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

main form .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
    margin-top: 5%;
    width: 97%;
    position: relative;
    padding: 1%;
}


main form .lastname-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 60px;
    text-align: center;
}

main form .email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 60px;
    text-align: center;
}

main form .password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 60px;
    text-align: center;
}

main form button {
    background: #ebc094;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding: 25px;
    font-size: 18px;
    margin-top: 5%;
}

main form button:hover {
    background: black;
    color: white;
}

main form footer {
    color:rgb(211, 222, 217);
    width: 100%;
}

main form footer hr {
    width: 100%;
    margin-top: 50px;
    color: black;
}

main form footer span {
    color: black;
    font-size: 15px;
    align-items: center;
    text-align: center;
    display:block;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

main form footer span a {
    width: 80%;
    color: black;
    transition: 0.2s ease-in-out;
}


main form footer a:hover {
    color: #18acfe;
}